@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root{
	--header-height: 3rem;
	--font-semi: 600;
}

/*===== Colores =====*/
:root{
	--first-color: #4070F4;
	--second-color: #0E2431;
}

/*===== y =====*/
:root{
	--body-font: 'Poppins', sans-serif;
	--big-font-size: 2rem;
	--h2-font-size: 1.25rem;
	--normal-font-size: 0.938rem;
}
@media screeen and(min-width: 768px){
	:root{	
		--big-font-size: 3.5rem;
		--h2-font-size: 2rem;
		--normal-font-size: 1rem;
	}
}

/*===== MARGINS =====*/
:root{
	--mb-1: 0.5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;
	--mb-6: 3rem;
}

/*===== Z-index =====*/
:root{
	--z-back: -10;
	--z-normal: 1;
	--z-tooltip: 10;
	--z-fixed: 100;
}

/*===== BASE =====*/
*{
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}

body {
	margin: var(--header-height) 0 0 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	color: var(--second-color);
}

h2 {
	margin: 0;
	padding: 0;
	list-style: none;
}

.section-title{
	position: relative;
	font-size: var(--h2-font-size);
	color: var(--first-color);
	margin-top: var(--mb-2);
	margin-bottom: var(--mb-4);
	text-align: center;
}
.section-title::after{
	position: absolute;
	content: "";
	widows: 64px;
	height: 0.18rem;
	left: 0;
	right: 0;
	margin: auto;
	top: 2rem;
	background-color: var(--first-color);
}
.section{
	padding-top: 3rem;
	padding-bottom: 2rem;
}
.bd-grid{
	max-width: 1024px;
	display: grid;
	grid-template-columns: 100%;
	grid-column-gap: 2rem;
	width: calc(100% - 2rem);
	margin-left: var(--mb-2);
	margin-right: var(--mb-2);
}

.item {
	width: 100%;
	font-size: var(--normal-font-size);
	font-weight: var(--font-semi);
	padding: 1rem;
	border-radius: .5rem;
	border: 2.5px solid var(--second-color);
	outline: none;
	margin-bottom: var(--mb-2);
}

.label {
	float: left;
	margin-right: 20px;
	border-left: 3px solid var(--first-color);
	padding-left: 10px;
}

.confirm-button {
	display: flex;
	justify-content: center;
	text-align: center;
}

.button{
	border: none;
	outline: none;
	font-size: var(--normal-font-size);
	font-weight: var(--font-semi);
	background-color: var(--first-color);
	color: #fff;
	margin: 0 auto;
	padding: .75rem 2.5rem;
	border-radius: .5rem;
	cursor: pointer;
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px){
	body{
		margin: 0;
	}
	.section{
		padding-top: 4rem;
		padding-bottom: 3rem;
	}
	.section-title{
		margin-bottom: var(--mb-6);
	}
	.section-title::after{
		width: 80px;
		top: 3rem;
	}
	.confirm-form {
		width: 360px;
	}
	.confirm__container {
		justify-items: center;
	}
}

@media screen and (min-width: 1024px){
	.bd-grid{
		margin-left: auto;
		margin-right: auto;
	}
}